/* Color palette */

:root {
  --header-color: #232020ff;
  --content-color: rgb(244, 249, 243);
  --section-color: rgb(204, 211, 193);
  --section-color-light: rgb(184, 188, 177);
  --link-inactive-color: #384e11;
  --link-active-color: #9b0f0f;
  --link-active-nav-color: #d8dbaf;
  --link-active-line-color: #743d0d;
}

/* General styling */

* {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-size: 26px;
}

h2 {
  font-family: "News Cycle", sans-serif;
  font-weight: bold;
  font-size: 22px;
}

h3 {
  font-family: "News Cycle", sans-serif;
  font-weight: normal;
  font-size: 20px;
}

p {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  color: #232020ff;
  margin-bottom: 10px;
}

p.contain-content {
  display: inline-block;
}

p img.float-left {
  float: left;
  margin-right: 10px;
}

p img.float-right {
  float: right;
  margin-left: 10px;
}

img.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 5px solid white;
  object-fit: cover;
  float: left;
  margin-right: 10px;
}

img {
  border: 4px solid white;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-top: 1px dotted var(--link-inactive-color);
}

/* Collapsible lists layout */

.collapsible-list {
  background-color: white;
  border-radius: 0px;
  width: 100%;
  max-height: 0;
  opacity: 0%;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 1s ease;
}

.collapsible-list ul:not([class]) > li {
  list-style: none;
  display: table-row;
}

.collapsible-list ul:not([class]) > li p {
  margin-bottom: 0px;
  padding: 5px;
}

.collapsible-list ul:not([class]) > li:nth-child(even) {
  background-color: var(--section-color);
}

/* Forms layout */

form li {
  list-style: none;
  display: table;
  margin-top: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="submit"] {
  min-width: 200px;
  padding-left: 2px;
  display: table-cell;
  box-sizing: border-box;
}

input[type="submit"],
#scroll-to-top-button {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 10px;
}

input[type="submit"] {
  font-size: 14px;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
#scroll-to-top-button:hover {
  background-color: rgb(71, 192, 111);
  color: white;
  transition: background-color 0.5s ease, color 0.2s ease;
}

input.error {
  color: rgb(164, 0, 0);
}

.error-desc {
  color: rgb(164, 0, 0);
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 14px;
  width: 200px;
  padding: 4px;
  display: none;
  box-sizing: border-box;
}

.warning {
  color: rgb(177, 128, 23);
}

label {
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  width: 130px;
  display: table-cell;
}

.semi-transparent {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 20px;
}

/* Layout management */

.v-align {
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
}

.screen-size {
  min-height: 100vh;
}

/* Content */

.content {
  width: 70%;
  height: 100%;
  display: table;
  margin: 0 auto;
  transition: width 0.5s ease;
  color: black;
  box-sizing: border-box;
}

.content-container {
  background-color: var(--content-color);
  display: block;
  width: 100%;
  min-height: 200px;
}

.content a {
  color: var(--link-inactive-color);
  font-weight: bold;
  text-decoration: underline dotted var(--link-inactive-color);
  transition: all 0.2s ease;
  -webkit-transition: all 0.3s ease;
}

.content a:hover {
  color: var(--link-active-color);
  text-decoration: underline var(--link-active-line-color);
  transition: all 0.2s ease;
  -webkit-transition: all 0.3s ease;
}

/* Section */

.section-container {
  background-color: var(--section-color);
  background-image: radial-gradient(
      rgba(184, 188, 177, 0.25),
      rgba(184, 188, 177, 1)
    ),
    url("../images/tennis_court_dome_indoors.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}

.section-container-b {
  background-color: var(--section-color);
  background-image: radial-gradient(
      rgba(177, 186, 188, 0.4),
      rgb(77, 133, 143, 0.8)
    ),
    url("../images/tennis_background_man_floor.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: table;
  width: 100%;
  min-height: 50vh;
  position: relative;
}

.section-container-b h1 {
  font-size: 100px;
  text-align: center;
  color: white;
}

.section-container-b p,
.section-container-b a {
  font-size: 20px;
  text-align: center;
  font-style: italic;
  color: white;
}

.section-container-b div {
  display: table-cell;
  vertical-align: middle;
}

.section {
  background-color: var(--section-color);
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  padding: 20px 20px;
  color: black;
  box-sizing: border-box;
}

/* Content split container */

.content ul.split {
  padding-top: 10px;
  list-style: none;
  display: table;
}

.content ul.split > li {
  display: table-cell;
  vertical-align: top;
  padding-right: 20px;
}

/* Scroll to top button */

#scroll-to-top-button {
  cursor: pointer;
  display: block;
  position: fixed;
  right: 20px;
  z-index: 99;
  transition: background-color 0.5s ease, color 0.2s ease;
}

/* Responsiveness */

@media screen and (max-width: 1100px) {
  .content {
    width: 95%;
    transition: width 0.5s ease;
  }
}

@media screen and (max-width: 550px) {
  .content ul.split > li {
    display: table-row;
    vertical-align: top;
    padding-right: 20px;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  .section-container-b p,
  .section-container-b a {
    font-size: 16px;
  }
  .section-container-b h1 {
    font-size: 50px;
  }
  .section-container-b {
    min-height: 33vh;
  }
}
